PORT=3000
MONGODB_URI=mongodb://chauhanshiv1711_db_user:shiv123@ac-1je0di2-shard-00-00.o5szg04.mongodb.net:27017,ac-1je0di2-shard-00-01.o5szg04.mongodb.net:27017,ac-1je0di2-shard-00-02.o5szg04.mongodb.net:27017/?replicaSet=atlas-qeapmu-shard-0&ssl=true&authSource=admin
CORS_ORIGIN=*